<div class="grid-container">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="mat-h1">Products</h1>

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input [formControl]="formControl" [autocomplete]="'off'" matInput>
      </mat-form-field>
    
  
      <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option (onSelectionChange)="sortingChanged($event)" *ngFor="let state of sortingOptions" [value]="state.value">{{state.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>
  <mat-grid-list cols="4" rowHeight="380px">
    <mat-grid-tile *ngFor="let product of products$ | async" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="product-name" (click)="nameClicked(product.uniq_id)">{{product.product_name}}</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Add to Cart</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="image">
            <img height="200" width="150" src="{{product.image[0]}}" alt="Image">

            <div class="prices">
                Price: ₹<span class="retail">{{product.retail_price || 'NA'}} </span><br> ₹{{product.discounted_price || 'NA'}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>